language: rust
cache: cargo
before-deploy:
  - rustfmt
  - clippy
jobs:
  include:
    - stage: test
      script:
        - cargo build --verbose
        - cargo test --verbose
#    - stage: deploy
#      script:
#        - cargo publish